.goobi-thumbnail .goobi-thumbnail-image a {
    display: block;
}

.goobi-thumbnail .goobi-thumbnail-image a img {
    display: block;
    max-width: 100%;
    max-height: 175px;
    margin: 0 auto;
    border: 1px solid lightgrey;
}

.goobi-thumbnail .goobi-thumbnail-caption {
    float: left;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
}

.thumb-canvas {
    border: 1px solid #ccc;
}

.goobi-thumbnail .goobi-thumbnail-controls {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.goobi-thumbnail-controls-left {
    width: 60%;
}

.goobi-thumbnail-controls-right {
    width: 40%;
}

.goobi-thumbnail-controls-left {
    padding-left: 25px;
}

.goobi-thumbnail-controls-left .thumbnail-control {
    margin-right: 3px;
}

.goobi-thumbnail-controls-right {
    padding-right: 25px;
    text-align: right;
}

.goobi-thumbnail-controls-right .thumbnail-control {
    margin-left: 3px;
}

.thumbnail-control {
    padding: 3px 5px;
}

.thumbnail-control.checkbox {
    position: relative;
    margin: 0 3px 0 0;
}

.thumbnail-control.checkbox label {
    margin: 0;
    padding: 0;
}

.thumbnail-control.checkbox .control-indicator .fa-square-o,
    .thumbnail-control.checkbox .control-indicator .fa-check-square-o {
    margin-top: 4px;
}

.thumbnail-control.checkbox .control-indicator .fa-square-o {
    padding-right: 2px;
}

.thumbnail-control.checkbox .control-indicator .fa-check-square-o {
    display: none;
}

.thumbnail-control.checkbox input[type="checkbox"] {
    position: absolute;
    margin: 0;
    visibility: hidden;
    z-index: -1;
}

.thumbnail-control.checkbox input:checked ~ .control-indicator .fa-check-square-o
    {
    display: inline-block;
}

.thumbnail-control.checkbox input:checked ~ .control-indicator .fa-square-o
    {
    display: none;
}

.big-image-caption {
    text-align: center;
}

.div-image img {
    float: right;
    border: solid 1px;
    border-color: lightgrey;
}

.img-active {
    background-color: #368ee0;
    color: white;
}

.image-navigation {
    margin-bottom: 5px;
}

#image-control-wrapper {
    margin-left: 6px;
}

#mainImage {
    width: 100%;
    height: 600px;
    border: 1px solid lightgrey;
}

#mainImage #ajaxloader_image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -21px;
}

#mainImage #ajaxloader_image img {
    border: none;
}

.namePart {
    display: inline-block;
    width: auto;
    min-width: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.row.margin-top-most.margin-bottom-most {
    direction: rtl;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#zoomSliderLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    background: transparent;
    border: none;
}

#zoomSliderLabel input {
    border: none;
    background-color: transparent;
    width: 60px;
    text-align: right;
}

#zoomSliderLabel input:focus {
    background-color: white;
    color: #666;
}

#image-control-wrapper ul {
    padding-left: 0;
}

#image-control-wrapper li {
    display: inline-block;
}

#image-control-wrapper li label {
    width: 50px;
}

#image-control-wrapper #reset-position {
    margin-left: 86px;
}